.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100vh;
}
.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}

.App-main {
  margin-top: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Add a black background color to the top navigation */
.topnav {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #4c4c4c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-content: center;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  background-color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.list {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.list::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(255, 255, 255);
  display: block;
  margin: auto;
  transition: 0.5s;
}

.listright {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: absolute;
  right: 3%;
}

.icon {
  max-width: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button {
  display: block;
  font-size: 15px;
  margin: 10px auto;
  cursor: pointer;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #6f00ff;
  color: #6f00ff;
  padding: 11px 11px 11px 11px;
  border-width: 2px;
}

.button:hover {
  display: block;
  font-size: 15px;
  margin: 10px auto;
  cursor: pointer;
  border-color: #6f00ff;
  color: white;
  background-color: #6f00ff;
  transition: 0.1s;
}

.button:disabled {
  display: block;
  font-size: 15px;
  margin: 10px auto;
  cursor: pointer;
  border-color: #ae71ff;
  color: rgb(246, 237, 255);
  background-color: #ae71ff;
  transition: 0.1s;
  pointer-events: none;
}

.address {
  font-size: 20px;
}
