@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.listpage {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ListImage {
  width: fit-content;
  margin: 10px;
  border: 2px solid #e5e5e5;
  box-shadow: 2px 4px 3px #e5e5e5;
  padding: 10px;
}

.UploadPage {
  display: flex;
  width: 100%;
}

.Recent {
  width: 50%;
}
.Upload {
  width: 50%;
}

.ImageBox {
  border: 2px solid #e5e5e5;
  display: flex;
  width: fit-content;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 2px 4px 3px #e5e5e5;
}

.Recent_Title {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.6;
  text-align: center;
}

.ListImage {
  width: fit-content;
  margin: 10px;
  border: 2px solid #e5e5e5;
  box-shadow: 2px 4px 3px #e5e5e5;
  padding: 10px;
}

.ListImage__Delete {
  background-color: white;
  color: red;
  display: block;
  margin: 5px;
  border-radius: 4px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  padding-top: 3px;
}

.ListImage__Delete:hover {
  background-color: red;
  color: white;
  display: block;
  margin: 5px;
  border-radius: 4px;
  border-style: solid;
  transition: 0.1s;
}

.ListPage__Title {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.6;
  text-align: center;
  font-size: 30px;
}

.Upload_Title {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.6;
  text-align: center;
}

.CaptionBox {
  margin-right: 40px;
}

.ImageBox__Caption {
  font-size: 18px;
  width: fit-content;
}

.Upload__InputSection {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.Upload__Button {
  display: block;
  font-size: 15px;
  margin: 10px auto;
  cursor: pointer;
  background-color: white;
  border-style: solid;
  border-radius: 5px;
  border-color: #6f00ff;
  color: #6f00ff;
  padding: 5px 5px 5px 5px;
}

.Upload__Button:hover {
  display: block;
  font-size: 15px;
  margin: 10px auto;
  cursor: pointer;
  border-color: #6f00ff;
  color: white;
  background-color: #6f00ff;
  transition: 0.2s;
}

.Upload__Caption {
  margin-right: 10px;
}

.bannerheading {
  font-size: 68px;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.bannercontents {
  font-size: 28px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.banner {
  position: relative;
  height: 350px;
  width: 100%;
}
.banner:before {
  background-image: url("humaaan.png");
  width: 100%;
  height: 350px;
  background-position: center;
  content: " ";
  display: block;
  position: absolute;
  opacity: 0.4;
  background-size: cover;
}

.bannercontainer {
  width: 70%;
  margin: auto;
  vertical-align: middle;
  position: relative;
}
.bannercontainerreal {
  width: 70%;
  margin: auto;
  vertical-align: middle;
}
